body {
    padding:5px;
    background-color:White;
    color:Black;
}
h1 {
    font-size:1.7em;
    margin:0px;
}
h2 {
    font-size:1.25em;
    white-space:nowrap;
    text-decoration:underline;
    margin-bottom:10px;
}
hr {
    color:Black;
    background-color:Black;
    height:1px;
    border:0;
}
.tool {
    font-size:2.375em;
}
table.summary {
    border-collapse:collapse;
    table-layout:fixed;
}
table.summary, span.result {
    font-family:"DejaVu Sans Mono", "Monaco", monospace;
    font-size:0.94em;
}
table.summary tr, table.summary td, table.summary th
{
    border:1px solid #777777;
    border-collapse:collapse;
    padding-left:5px;
    padding-right:5px;
    text-align:center;
}
table.summary th {
    padding-top:4px;
    padding-bottom:4px;
    background:#f2f2f2;
    white-space:nowrap;
}
table.summary td {
    padding-top:10px;
    padding-bottom:10px;
    white-space:nowrap;
}
table.summary th.left {
    text-align:left;
}
table.summary td.right {
    text-align:right;
    max-width:300px;
    white-space:normal;
    word-wrap:break-word;
}
table.summary td.center {
    text-align:center;
}
table.summary td.left {
    text-align:left;
}
a.num {
    color:#000000;
    text-decoration:none;
}
a.num:hover {
    text-decoration:underline;
}
.ok {
    background-color:#CCFFCC;
}
.warning {
    background-color:#F4F4AF;
}
.incompatible, .removed {
    background-color:#FFCCCC;
}
.added {
    background-color:#C6DEFF;
}
table.summary td.object {
    text-align:left;
}
.footer {
    font-size:0.75em;
}
